*{
    margin: 0px;
    padding: 10px;
    box-sizing: border-box;
}
body{
    font-family: 'Press Start 2P', cursive;
}
a{
    text-decoration: none;
}
.Padre{
    display: flex;
    flex-flow: column nowrap;
}
.header{
    background: url(Iconos/fondo-cines.j);
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
}
.Menu{
    background: rgba(0,0,0,.1);
    display: flex;
    flex-flow: row nowrap;
    height: 70px;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, alpha);
}
    .Logo{
        flex: 1 1 auto;
    }
        .Logo a{
            color: white;
            font-size: 30px;
         }
         .Logo a:hover{
            color: #343434;
           }
    .Nav{
        flex: 5 1 auto;
    }
        .Nav a{
            color: white;
            font-size: 16px;
            text-transform: uppercase;
            padding: 0 12px;
            letter-spacing: 2px;
        }
        .Nav a:hover{
            color: #343434;
        }
    .social{
        flex: 1 1 auto;
        display: flex;

    }
        .social a{
            font-size: 18px;
            color: white;
            padding: 0 5px;
        }
            .social a:hover{
                color: #343434;
            }
    .texto-pricipal{
        /* background: #f07b3f; */
        height: auto;
        display: flex;
        align-items: center;
    }
    h1{
        font-family: 'Lora', serif;
        font-size: 21px;
        color: #ffffff;
        font-weight: 300;
        text-align: center;
        line-height: 1.6;
    }
.section{
    background: #f7f7f7;
    display: flex;
}
.articulos{
    background: #f7f7f7;
    flex:2 1 auto ;
    display: flex;
    flex-flow: row wrap;
}
.article{
    flex: 1 1 40%;
    color: #444;
    font-size: 13px;
    letter-spacing: 1px;
    margin: 10px 10px 0 0px;
    flex: 1 1 45%;
    background: #ececec;
}
.article img{
    width: 100%;
}
.article a{
    color: #fff;
    font-size: 13px;
    padding: 10px;
    background: #251af6;
    margin: 10px 0;
    display: inline-block;
}
    .article a:hover{
        background: #546cc3;
    }
h3{
color: #040404;
font-size: 13px;
padding: 10px 0;
margin-top: -80px;
}
h2{
    font-size: 25px;
    text-transform: uppercase;
    padding: 0px 10px 0;
    color: #000000;
}
.navegacion{
    background: blue;
    flex: 1 1 100%;
    margin: 10px 10px 0 0px;
}
.navegacion a{
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    padding: 0 10px;
    letter-spacing: 2px;
}
.aside{
    /* background: blueviolet; */
    flex: 1 1 auto;
    margin: 10px 5px 10px 0;
}
.aside img{
    width: 100%;
}
h4{
    background: #000;
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
}
.publicidad{
    /* background: green; */
}
.footer{
    background: #000;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.pie{
    /* background: rgb(0, 0, 0); */
    text-align: center;
}
.pie a{
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
    padding: 0 10px;
    letter-spacing: 2px;
}
@media all and (max-width: 700px){
    .section{
        flex-direction: column;
    }
    .Menu{
        flex-direction: column;
        width:auto
    }
    .aside{display: flex;}
}
@media all and (max-width: 600px){
    .articulos{
        flex-direction: column;
    }
}
@media all and (max-width: 400px){
    .aside{
        flex-direction: column;
    }
}