*{
    /*margin: 5px;*/
    padding: 10px;
    box-sizing: border-box;
    font-family: 'Anton', sans-serif;
    font-weight: -500;
    
}
body{
    background: rgb(231, 231, 231);
}
.padre{
    display: flex;
    flex: auto;
}

.articulos{
    flex: auto;
    display: flex;
    height: -900px;
    padding: 5%;
}
.article{
    color: #fff;
    letter-spacing: 2px;
    width: 35%;
    flex: 1px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgb(0, 0, 0);
}

/*BOX LADO IZQUIERDO DONDE ESTA LA IMAGEN DE FONDO*/
#izquierda{
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,.6)), url(img/Oficina_fondo.webp);
    background-position: center;
    background-size: cover;
    color: #fff;
}
    h1{
        text-align: center;
        font-size: 40px;
        padding: -40px;
        margin-top: 15%;
        margin-bottom: 5%;
        }
        p{
        text-align: left;
        font-size: 22px;
        margin: 2% 8%;
        }

    #izquierda h3{
        color: aquamarine;
        font-size: 20px;
        text-align: left;
        margin: 0 10%;
        }

/*BOX LADO DERECHO DONDE NO TIENE IMAGEN. BOX DE INGRESO*/
#derecha{
    background: rgb(255, 255, 255);
}
    #derecha h1{
        text-align: center;
        font-size: 13px;
        }

    /*Bienvenido a la Flexiweb*/
    h3{
        color: grey;
        text-align: center;
        margin-top: -1px;
    }

    /*Ingrese sus Datos*/
    #p1{ 
        color: grey;
        text-align: center;
        margin-top: -15px;
    }

    /*Box Para ingresar datos*/
input{
    margin-left: 25%;
    border: 1px solid;
    border-radius: 1px;
    border-color: gainsboro;
    display: block;
    width: 50%;
    height: 5%;
    border-radius: 5px;
}

.recaptcha{
    margin: 3% 0 0 25%;
    border-radius: 5px;
}
button{
    background: rgb(9, 197, 197);
    color: #fff;
    margin-top: 4%;
    margin-left: 25%;
    margin-bottom: 25%;
    border: 1px solid;
    border-color: gainsboro;
    display: block;
    width: 50%;
    height: 4%;
    font-weight: 300;
    border-radius: 5px;
    }
    button:hover{
    background: rgb(19, 163, 161);
    }
a{
    text-decoration: none;
    color: rgb(75, 189, 255);
    font-size: 12px;
}
.pie{
    text-align: center;
}
footer{
    color: grey;
    text-align: center;

}

